o-auth-button {
  #googleBtn {
    width: 200px;
    height: 50px;
    background: url("../assets/img/web/2x/btn_google_signin_dark_normal_web@2x.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    &:hover, &:focus {
      background: url("../assets/img/web/2x/btn_google_signin_dark_focus_web@2x.png");
      -webkit-background-size: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    &:active {
      background: url("../assets/img/web/2x/btn_google_signin_dark_pressed_web@2x.png");
      -webkit-background-size: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
}
